<div class="container p-0">
    <div class="row">
        <div class="col-12">
            <img src="{{product.hinhAnhSanPham}}" width="200" height="200">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>{{product.tenSanPham}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>{{product.giaSanPham |currency : 'VND'}}</div>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <div class="btn btn-primary">Đặt hàng</div>
        </div>
    </div>
</div>